@charset 'utf-8';
body,div,p,ul,li{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #555;
	font-size: 14px;
}
ul,li{
	list-style-type: none;
	list-style: none;
}
body{
	background-color: #f6f6f6;
}
h2{
	font-size: 16px;
	color: #333;
	line-height: 16px;
	margin-bottom: 18px;
}
i,em{
	font-style: normal;
	font-size: 14px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	clear: both;
}
.container-detail{
	width: 1240px;
	margin: 0 auto;
}
.red{
	color: #e22f2a;
}
.green{
	color: #3bc25b;
}
.box{
	padding: 40px;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
/*top bar*/
.top-bar{
	display: flex;
}
.tb-fieldName{
	padding-right: 40px;
	min-width: 260px;
	border-right: 1px solid #e5e5e5;
}
.tb-fn-title{
	font-size: 18px;
	line-height: 27px;
}
.tb-fn-num{
	font-size: 16px;
	line-height: 27px;
}
.tb-fn-num span{
	float: left;
	margin-right: 20px;
}
.tb-fielList{
	font-size: 0;
	padding-left: 40px;
	overflow: hidden;
	/*width: 890px;*/
	flex: 1;
}
.tb-fielList li{
	display: block;
	float: left;
	font-size: 16px;
	line-height: 27px;
}
.tb-fielList li:nth-child(5n+1){
	width: 19%;
}
.tb-fielList li:nth-child(5n+2){
	width: 19%;
}
.tb-fielList li:nth-child(5n+3){
	width: 25%;
}
.tb-fielList li:nth-child(5n+4){
	width: 19%;
}
.tb-fielList li:nth-child(5n+5){
	width: 17%;
}
.tb-fielList p{
	display: inline-block;
	text-align: justify;
	font-style: normal;
	font-size: 16px;
}
/*content*/
.content-bar{
	overflow: hidden;
}
.echarts{
	float: left;
	width: 910px;
	height: 675px;
}
.cb-right{
	float: right;
	margin-left: 20px;
	width: 310px;
	height: 675px;
}
.cb-title{
	font-size: 0;
}
.cb-title p{
	display: inline-block;
	width: 50%;
	font-size: 13px;
	padding-bottom: 6px;
	vertical-align: top;
	letter-spacing: -0.5px;
}
.cb-title p:last-child{
	text-align: right;
}
.cb-right ul{
	border-top: 1px solid #e5e5e5;
}
.cb-right ul span{
	display: inline-block;
	font-size: 13px;
	line-height: 30px;
}
.cb-pk{
	margin-bottom: 40px;
}
.cb-pk h2{
	margin-top: 0;
}
.cb-pk li{
	font-size: 0;
}
.cb-pk ul span:first-child{
	width: 74px;
}
.cb-pk ul span:nth-child(2){
	width: 83px;
}
.cb-pk ul span:nth-child(3){
	width: 70px;
	text-align: right;
}
.cb-title-sub{
	border-top: 1px solid #e5e5e5;
	padding-top: 4px;
	
}
.cb-title-sub p{
	padding-bottom: 0;
}
.cb-cj ul{
	border: none;
	overflow: hidden;
}
.cb-cj h2{
	margin-top: 0;
	margin-bottom: 13px;
}
.cb-cj ul span:first-child{
	width: 64px;
}
.cb-cj ul span:nth-child(2){
	width: 58px;
	text-align: right;
}
.cb-cj ul span:nth-child(3){
	width: 68px;
	text-align: right;
}
.cb-cj ul span:nth-child(4){
	width: 38px;
	text-align: right;
}
/*下部信息开始*/
.bottom-bar{
	margin-bottom: 20px;
	overflow: hidden;
}
.bottom-bar li{
	overflow: hidden;
}
.bottom-bar span{
	line-height: 40px;
	display: block;
	font-size: 14px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bottom-bar li:nth-child(odd){
	background-color: #f2f2f2;
}
.bb-info{
	width: 750px;
	height: 560px;
	padding-left: 42px;
}
.bb-data{
	width: 470px;
	height: 560px;
}
.bottom-bar li{
	font-size: 0;
}
.bb-info li:first-child span{
	font-weight: bold;
	color: #222;
}
.bb-info span:first-child{
	width: 290px;
	padding-right: 4px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bb-info span:nth-child(2){
	width: 57px;
	text-align: right;
}
.bb-info span:nth-child(3){
	width: 155px;
	text-align: right;
}
.bb-info span:nth-child(4){
	width: 158px;
	text-align: right;
}
.bb-data span:first-child{
	width: 84px;
	font-weight: bold;
	color: #222;
}
.bb-data span:last-child{
	display: inline;
	float: none;
}
.bb-data li{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.no-data{
	font-size: 18px;
	padding-top: 40px;
}
.kline{
	display: none;
}
.no-data-k~h2,
.no-data-k~div,
.no-data-k~ul{
	display: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pull-right{
    float: right;
}
/*图表charts的tab切换*/
.charts-tab{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}
.charts > ul li{
    position: relative;
    line-height: 41px;
    padding: 0 23px;
    cursor: pointer;
}
.charts > ul li:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: all .3s ease;
}
.charts > ul li:hover:after,
.charts .active:after {
    background-color: #2b99ff;
}
/*分钟K线图绘制*/
.kline-info{
    margin-bottom: 0;
    text-align: center;
}
.kline-info li{
    display: inline-block;
    line-height: 32px;
    overflow: hidden;
    font-size: 12px;
    margin: 0 5px;
}
.kline-info li span:not(:empty){
	font-size: 12px;
	line-height: 32px;
	margin: 0 0 0 5px;
}
.kline-info li:nth-child(3){
	margin: 0;
}
.kline-info li:nth-child(3) span:not(:empty){
	margin: 0 5px;
}
.kline-info li:nth-child(-n+2) span{
	margin: 0;
}
.kline-MAs{
	text-align: left;
	position: absolute;
	left: 9.9%;
	top: 5.3%;
	font-size: 0;
	z-index: 2;
	padding-top: 10px
	cursor: pointer;
}
.kline-MAs span{
	margin-right: 20px;
	font-size: 14px;
}
.kline-MA5{
	color: #20bfeb;
}
.kline-MA10{
	color: #2c81ff;
}
.kline-MA20{
	color: #9d62ff;
}
.kline-MA30{
	color: #ff6adb;
}
.kline-charts-container{
    position: relative;
}
.kline-charts{
    width: 830px;
    height: 538px;
}
.kline-tooltip{
    position: absolute;
    left: 72px;
    top: 5%;
    width: 180px;
    height: 280px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: solid 1px #b4b4b4;
    display: none;
    z-index: 999;
}
.kline-tooltip li{
    line-height: 26px;
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.text-justify span{
    float: left;
    display: inline-block;
    margin-right: 13px;
}
.text-justify span:last-child{
    margin-right: 0;
    float: right;
}
.toolbtn input,.toolbtn label{
    cursor: pointer;
    float: left;
}
.toolbtn label{
    margin-right: 10px;
    font-weight: normal;
}
.macd,.deal,.volumn,.volMacd,.kline-buttons{
	position: absolute;
	/*cursor: pointer;*/
	/*z-index: 2;*/
}
.deal{
	/*top: 53.7%;*/
	top: 73.4%;
}
.deal span,
.macd span{
	margin-right: 20px;
	font-size: 14px;
}
.deal .deal-title,
.macd .macd-title{
	display: inline-block;
	text-align: right;
	margin-left: 0;
	color: #555;
	font-size: 14px;
}
.deal-Vol{
	color: #555;
}
.deal-MA5{
	color: #51c8ee;
}
.deal-MA10{
	color: #2c81ff;
}
.macd{
	top: 71.3%;
}
.macd-Dif{
	color: #20bfeb;
}
.macd-Dea{
	color: #ff8964;
}
.macd-Macd{
	color: #ff6adb;
}
.volumn{
	top: 57.5%;
	top: 77%;
	width: 68px;
	height: 9%;
	z-index: 999;
}
.volMacd{
	top: 68%;
	height: 9%;
}
.volMacd{
	top: 75%;
	height: 9%;
}
.volumn div,
.volMacd div{
	width: 50px;
	width: 100%;
	text-align: right;
	font-size: 12px;
	text-align: right;
	color: #000;
}
.volumeMax,.vmMax{
	height: 81%;
}
.vmMax{
	height: 76%;
}
.kline-buttons{
	font-size: 0;
	top: 87.3%;
}
.kline-buttons span{
	display: inline-block;
	background-color: #f2f2f2;
	border: 1px solid #b4b4b4;
	margin: 0;
	padding: 0.5% 10px;
	margin-left: -1px;
	font-size: 14px;
	cursor: pointer;
	color: #555;
}
.kline-buttons span.active{
	color: #2b99ff;
}
#kline_charts{
	z-index: 1;
}
/* fullscreen */
.full-screen .red{
	color: #c23a39;
}
.full-screen .green{
	color: #44c96e;
}
.full-screen{
	background-color: #1e2131
}
.f-header{
	overflow: hidden;
}
.fh-logo{
	float: left;
	margin: 15px 60px;
	font-size: 0;
}
.fh-time{
	float: right;
	margin-top: 29px;
	margin-right: 47px;
}
.fh-date{
	font-size: 28px;
	color: #cdcdcd;
	font-weight: lighter;
}
.fh-minute{
	font-size: 48px;
	color: #e0e0e0;
	font-weight: lighter;
}
.full-screen-container{
	height: 60px;
	background-color: #264378;
}
.full-screen-container ul{
	overflow: hidden;
	float: left;
}
.full-screen-container li,.flt-text{
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: '微软雅黑';
	border-right: 1px solid #1e2131;
}
.full-screen-container .clearfix li.active{
	background-color: #c23a39;
}
.f-lineType{
	float: left;
	width: 200px;
	position: relative;
	cursor: pointer;
}
.flt-text{
	line-height: 60px;
	border: none;
}
.fl-text{
	margin-left: 17px;
}
.fl-trangle{
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	top: 27px;
	margin-left: 12px;
}
.f-lineType-box,
#url_list{
	position: absolute;
	left: 36px;
	z-index: 999;
	background-color: #1e2131;
	border: 2px solid #264378;
	box-shadow: 0px -2px 20px #20283f;
	border-radius: 5px;
	display: none;
}
.f-lineType-box li,
#url_list li{
	font-size: 24px;
	line-height: 46px;
	height: 46px;
	width: 154px;
	border: none;
	border: 1px solid #1e2131;
	box-sizing: border-box;
}
.f-lineType-box li:last-child{
	border-top: none;
}
.flb-tragle{
	border-color: transparent transparent #264378 transparent;
	border-width: 12px;
	top: -24px;
	left: 54px;
}
.flb-tragle2{
	border-color: transparent transparent #1e2131 transparent;
	top: -20px;
	left: 56px;
}
.f-lineType-box li.active,
.f-lineType-box li:hover{
	background-color: #2c364d
}
.f-search{
	float: right;
	margin-right: 46px;
	position: relative;
}
.f-search input{
	line-height: 42px;
	font-size: 24px;
	background-color: #1e2131;
	border: none;
	margin-top: 8px;
	float: left;
	border-radius: 10px;
	color: #fff;
	padding: 0 10px;
	width: 310px;
	outline: none;
}
.f-search input[type="text"]{
	padding-right: 40px;
}
.f-search input[type="button"]{
	width: 56px;
	height: 42px;
	position: absolute;
	right: 0;
	padding: 0;
	background-color: inherit;
	cursor: pointer;
	background: url(../img/大屏搜索2.png) no-repeat center;
}
#url_list{
	position: absolute;
	width: 360px;
	top: 54px;
	left: 0;
	max-height: 276px;
	overflow-y: scroll;
	display: none;
}
#url_list .active{
	background-color: #274378;
}
#url_list::-webkit-scrollbar{  
    width: 13px;  
    height:10px; 
    border-radius: 100px;    
   	background-color:#292c3c;
}  
#url_list::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 100px; 
    background-color:#292c3c;      
}
#url_list::-webkit-scrollbar-thumb{  
    border-radius: 100px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
  	 background-color:#3f4250;
} 
#url_list li{
	width: 100%;
}
#url_list li span{
	display: inline-block;
	font-size: 24px;
	text-align: left;
	padding-left: 15px;
	box-sizing: border-box;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#url_list li span i{
	font-size: 24px;
}
#url_list li i{
	font-style: normal;
	color: #2b99ff;
}
#url_list li span:first-child{
	width: 60%;
}
#url_list li span:last-child{
	width: 40%;
}
.content{
	position: relative;
	overflow: hidden;
	padding-bottom: 80px;
}
.f-kline{
	width: 72.916%;
	/*width: 100%;*/
	height: 734px;
	padding-left: 40px;
	margin-top: 40px;
	box-sizing: border-box;
}
.f-kline-charts{
	/*width: 100%;*/
	height: 734px;
}
.f-stockInfo{
	width: 25.44%;
	/*width: 100%;*/
	background-color: #20283f;
	padding: 40px 20px 40px 40px;
}

.f-tb-fieldName{
	padding: 0;
	border: none;
	min-width: 0;
	overflow: hidden;
}
.f-tbfn-title{
	overflow: hidden;
	line-height: 40px;
}
.f-tbfn-title span:first-child{
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	
}
.f-tbfn-title span:last-child{
	font-size: 36px;
	color: #fff;
	font-weight: normal;
	margin: 7px 0 0 26px;
}
.f-tbfn-num{
	overflow: hidden;
	margin-top: 30px;
}
.f-tbfn-num span{
	line-height: initial;
	font-size: 24px;
	margin: 0;
	margin-top: 18px;
}
.f-tbfn-num span:first-child{
	font-size: 48.5px;
	color: #fff;
	margin-right: 40px;
	margin-top: 0;
}
.f-tbfn-num span:nth-child(2){
	margin-right: 15px;
}
.f-tbfn-num span.black{
	color: #fff;
}
.f-tbfn-num span i{
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	margin-right: 20px;
}
.f-tbfn-num span .red{
	border-color: #99353b transparent transparent transparent;
}
.f-tbfn-num span .green{
	border-color: transparent transparent #44c96e transparent;
	margin-bottom: 10px;
}
.f-tbfn-num span .black{
	width: 20px;
    height: 32px;
    border: none;
    border-bottom: 5px solid #fff;
    float: left;
}
.f-tb-fielList{
	padding: 0;
	margin-top: 30px;
	margin-bottom: 40px;
}
.f-tb-fielList li:nth-child(n){
	width: 50%;
	line-height: 40px;
}
.f-tb-fielList li,
.f-tb-fielList li p{
	color: #a7a8aa;
	font-size: 22px;
}
.f-latest-stock h2{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	margin: 0;
}
.f-ls-list{
	margin-top: 12px;
}
.f-ls-list li{
	line-height: 40px;
	font-size: 0;
}
.f-ls-list li span{
	font-size: 22px;
	display: inline-block;
}
.f-ls-list li span.black,
.f-ls-list li span:nth-child(-n+2){
	color: #a7a8aa;
}
.f-ls-list li span:first-child{
	width: 46%;
}
.f-ls-list li span:nth-child(2){
	width: 26%;
	text-align: right;
}
.f-ls-list li span:last-child{
	width: 28%;
	text-align: right;
	padding-right: 27px;
	box-sizing: border-box;
}
.f-kline-info li{
	display: block;
	font-style: normal;
	color: rgba(255,255,255,0.5);
	font-size: 20px;
}
.f-kline-info{
	padding: 20px 25px;
	width: 255px;
	height: auto;
	background-color: #1e2131;
    border-color: #232735;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0,0.35);
    position: absolute;
    z-index: 999;
    line-height: 30px;
    left: 0;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    top: 16px;
    display: none;
}
.f-kline-info span{
	display: inline-block;
	float: right;
	color: #fff;
}

/* 分时图 */
.mline{
	position: relative;
	float: left;
	width: 70%;
	margin-top: 40px;
}
.mline_full{
	text-align: center;
	font-size: 18px;
	color: #a7a8aa;
}
/* 分时图提示框 */
.mline_tooltip{
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: #1e2131;
	border: 1px solid #232735;
	padding: 10px 20px;
	box-shadow:0px 0px 7px rgba(0,0,0,0.35);
	display: inline-block;
	line-height: 30px;
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	min-width: 240px;
	border-radius: 3px;
	display: none;
}
.mline_tooltip>span{
	overflow: hidden;
	display:block;
}
.mline_tooltip>span>label{
	color: rgba(255, 255, 255, 0.5);
	float: left;
}
.mline_tooltip>span>i{
	color: #fff;
	float: right;
	font-size: 20px;
}
/* 浮层信息框 */
.mline_info{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	border:1px solid #264378;
	border-radius: 3px;
	padding: 5px 10px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	background-color:#1e2131;
	display: none;
}
.mline_info>span{
	font-family: Helvetica,Arial,sans-serif;
	display: block;
	color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
	line-height: 30px;
}
.mline_info>span:last-child{
	color: #fff;
	font-size: 24px;
	margin-top: 10px;
}
.lastPrice{
	font-size: 24px;
}
.mline_info>.arrow{
	background: url(../img/arrow.png) no-repeat;
    background-color: #1e2131;
    display: block;
    width: 26px;
    height: 12px;
    position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-100%);
}
.point_label{
	background-color:#44c96e;
	color: #fff;
	font-size: 20px;
	padding: 0px 10px;
	border-radius: 3px;
	position: absolute;
	right: 0;
	top:0;	
	display: none;
}
#f_kline_charts div:last-child:not(:empty){
	margin-top: -145px;
	padding: 16px 22px !important;
	border: 1px solid #264378 !important;
	background-color: #1e2131 !important;
	font-size: 20px !important;
	color: rgba(255,255,255,0.5) !important;
	box-shadow: 0 0 7px rgba(0,0,0,0.35) !important;
	border-radius: 5px !important;
	line-height: 30px !important;
	width: 265px !important;
	height: 106px !important;
}
#f_kline_charts div:last-child i{
	display: inline-block !important;
	margin-top: 10px !important;
	font-size: 24px !important;
	color: rgba(255,255,255,1) !important;
	font-style: normal !important;
	line-height: 30px !important;
}
#markNewPoint{
	position: absolute;
	width: auto;
	display: inline-block;
	background-color: #44c96e;
	padding: 0 10px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	border-radius: 3px;
	right: 0;
}
.bottom{
	border-top: 1px solid #264378;
	line-height: 80px;
	height: 80px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #1e2131;
}
.b_info{
	width: 33%;
	text-align: center;
	display: inline-block;
}
.b_info>em,.b_info>i{
	font-size: 30px;
	font-family: '微软雅黑';
	color: #fff;
	margin: 0 15px;
}
.b_info>i{
	color: #C23A39;
}
.b_arrow{
	width: 0;
	height: 0;
	border-top: 10px solid #C23A39;
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	padding-top: 3px;
	display: inline-block;
	margin-right: 10px;
}
.cb-pk .cb-zs-pk span:first-child,
.cb-pk .cb-zs-pk span:nth-child(2){
	width: 50%
}
.cb-pk .cb-zs-pk{
	border-bottom: 1px solid #e5e5e5;
}
.loading{
	position: absolute;
    top: 40px;
    z-index: 1;
    left: 0;
    margin: auto;
    right: 0;
}
