html,body{
    height: 100%;
}
html,body,div,span,label,i{
    margin: 0;
    padding: 0;
}
i{
    font-style: normal;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: "";
    clear: both;
    visibility: visible;
    height: 0;
    display: block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.container{
    padding: 50px;
}
.forex-container{
    padding: 5px 10px;
    margin: 10px;
}
.forex-chart{
    color: #fff;
}
/* .forex-content{
} */
.forex-top{
    color: #fff;
    font-size: 16px;
}
.forex-title{
    font-weight: bold;
    line-height: 28px;
}
.forex-change{
    line-height: 28px;
}
.round{
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.forex-bottom{
    color: #fff;
}
.forex-price{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.forex-hl{
    font-size: 14px;
}
.forex-hl>label:last-child{
    display: block;
}